# Working with Strings - Part 2
Strings are so important in Python that they merit a second look. For the next two class sessions, we will look at several different functions and formatting options that will improve your string-fu!

### .format() method
Prior to Python 3.6, f-strings didn't exist. So you might see the .format() method in code you look at online.

In [1]:
'{:>20s}, {:.5f}'.format('Washington',67)

'          Washington, 67.00000'

In [2]:
f'{"Washington":>20s}, {67:.5f}'

'          Washington, 67.00000'

In [3]:
presidents = [['George','Washington',1789,1797,'VA','2/22/1732','12/14/1799',57,67],
['John','Adams1',1797,1801,'MA','10/30/1735','7/4/1826',61,90],
['Thomas','Jefferson',1801,1809,'VA','4/13/1743','7/4/1826',57,83],
['James','Madison',1809,1817,'VA','3/16/1751','6/28/1836',57,85],
['James','Monroe',1817,1825,'VA','4/28/1758','7/4/1831',58,73],
['JohnQ','Adams2',1825,1829,'MA','7/11/1767','2/23/1848',57,80],
['Andrew','Jackson',1829,1837,'SC','3/15/1767','6/8/1845',61,78],
['Martin','Van Buren',1837,1841,'NY','12/5/1782','7/24/1862',54,79],
['William','Harrison1',1841,1841,'VA','2/9/1773','4/4/1841',68,68],
['John','Tyler',1841,1845,'VA','3/29/1790','1/18/1862',51,71],
['James','Polk',1845,1849,'NC','11/2/1795','6/15/1849',49,53],
['Zachary','Taylor',1849,1850,'VA','11/24/1784','7/9/1850',64,65],
['Millard','Fillmore',1850,1853,'NY','1/7/1800','3/8/1874',50,74],
['Franklin','Pierce',1853,1857,'NH','11/23/1804','10/8/1869',48,64],
['James','Buchanan',1857,1861,'PA','4/23/1791','6/1/1868',65,77],
['Abraham','Lincoln',1861,1865,'KY','2/12/1809','4/15/1865',52,56],
['Andrew','Johnson',1865,1869,'NC','12/29/1808','7/31/1875',56,66],
['Ulysses','Grant',1869,1877,'OH','4/27/1822','7/23/1885',46,63],
['Rutherford','Hayes',1877,1881,'OH','10/4/1822','1/17/1893',54,70],
['James','Garfield',1881,1881,'OH','11/19/1831','9/19/1881',49,49],
['Chester','Arthur',1881,1885,'VT','10/5/1829','11/18/1886',50,56],
['Grover','Cleveland1',1885,1889,'NJ','3/18/1837','6/24/1908',47,71],
['Benjamin','Harrison2',1889,1893,'OH','8/20/1833','3/13/1901',55,67],
['Grover','Cleveland2',1893,1897,'NJ','3/18/1837','6/24/1908',55,71]]

In [4]:
def extract_column(data,column):
    """This function extracts one column of data from a table (list of lists)"""
    temp = list()
    for i in range(len(data)):
        temp.append(data[i][column])
    return temp

In [5]:
first_name=extract_column(presidents,0)
last_name=extract_column(presidents,1)
start_term=extract_column(presidents,2)
end_term=extract_column(presidents,3)
birth_state=extract_column(presidents,4)
born=extract_column(presidents,5)
died=extract_column(presidents,6)
inauguration_age=extract_column(presidents,7)
death_age=extract_column(presidents,8)

### Concatenating and Repeating Strings

In [6]:
fname=first_name[15]
lname=last_name[15]

In [7]:
linc = lname

In [8]:
linc = '    ' + linc + ', ' + fname +'     '

In [9]:
linc

'    Lincoln, Abraham     '

In [10]:
bar = len(linc)

In [11]:
print('=' * bar)
print(linc)
print('=' * bar)

=========================
    Lincoln, Abraham
=========================

In [12]:
'=' * 100

'===================================================================================================='

### Stripping Whitespace from Strings
- strip()
- lstrip()
- rstrip()

In [13]:
linc.strip()

'Lincoln, Abraham'

### Changing Character Case
- capitalize()
- title()

In [14]:
data = 'the strange case of dr. jekyll and mr. hyde'

In [15]:
data.capitalize()

'The strange case of dr. jekyll and mr. hyde'

In [16]:
data.title()

'The Strange Case Of Dr. Jekyll And Mr. Hyde'

### String Comparison Operators
- ord()
- == != > < >= <=

In [17]:
ord('c')

99

In [18]:
ord('A')

65

In [19]:
'a'<'c'

True

In [20]:
'hatter' != 'hat'

True

### Substrings
- count() - how many
- index() - where
- startswith() 
- endswith()
- replace()

In [21]:
linc = linc.strip()

In [22]:
linc.lower()

'lincoln, abraham'

In [23]:
linc.lower().index('a')

9

In [24]:
linc.endswith('hm')

False

In [25]:
linc.startswith('Lcoln')

False

In [26]:
linc.replace('a','Z')

'Lincoln, AbrZhZm'

In [27]:
book_id='493-434-0493-0-01'

In [28]:
book_id.replace('-','')

'4934340493001'

### Splitting and Joining Strings
- split()
- join()
- partition()

In [29]:
linc.split()

['Lincoln,', 'Abraham']

In [30]:
data = 'the strange case of dr. jekyll and mr. hyde'

In [31]:
d = data.split(' ')

In [32]:
d[0:2]

['the', 'strange']

In [33]:
prefixes = ['1','2','3','4','5','6']
', '.join(prefixes)

'1, 2, 3, 4, 5, 6'

### Character and Character-testing Functions
Page 298 lists all of the character testing functions

In [34]:
'_ghasd43243'.isidentifier()

True