# Working with Strings
Strings are so important in Python that they merit a second look. For the next two class sessions, we will look at several different functions and formatting options that will improve your string-fu!

Let's declare some variables to work with.

In [1]:
fpn = 3.78
integer = 1897
long_integer = 8423490834
character = 'Q'
string = 'In Xanadu did Kubla Khan \n A stately pleasure-dome decree:'

## Formatting Strings
Proper text formatting makes data easier to read and understand. First,let's review f-strings.
- Floating point numbers
- Integers
- Characters
- Strings

In [2]:
print(f'{56343.32343:25.2f}')
print(f'{564.33443:25.2f}')

                 56343.32
                   564.33

In [3]:
print(f'{integer:10d}')
print(f'{12:10d}')

      1897
        12

In [4]:
f'{string:s}'

'In Xanadu did Kubla Khan \n A stately pleasure-dome decree:'

### Floating-point numbers and Decimal values
- Need to import Decimal.

In [33]:
from decimal import Decimal

In [48]:
f'{Decimal(393243423423499.25):.0f}'

'393243423423499'

### Field Widths and Alignment
Sometimes we want to set the number of characters in a string/number  and align data. We do this by preceding our format specifier with the width and the > or < signs

In [5]:
names = ['Pasteur Hall', 'Library','Centro','Knights Hall']

for n in names:
    print(f'{n:>15s}')
    
[print(f'{n:>15s}') for n in names]

mylist2 = [10*8 for n in names]

#print(f'text{integer:<10d}text')

   Pasteur Hall
        Library
         Centro
   Knights Hall
   Pasteur Hall
        Library
         Centro
   Knights Hall

In [6]:
mylist2

[80, 80, 80, 80]

### Numeric Formatting
- +/- numbers
- grouping digits

In [7]:
print(f'{-2343:+d}')

-2343

In [8]:
f'{long_integer:,d}'

'8,423,490,834'